<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">About</h1>
        <p>This site demonstrates use of Angular, Bootstrap, CSS and Html.</p>

        <p>Images were collected from my friend's flickr account.</p>

        <p>A gallery template seeded the project with a bootstrap header and grid of thumbnails.
        http://startbootstrap.com</p>

        <p>A grunt responsive images resized the images to be responsive.</p>

        <p>Angular directives from Angular UI Bootstrap were used for the
            slide show, dropdown, and pagination.</p>

        <p>An Angular factory holds a table of image file information rather than
        connecting to a database backend so the site could be hosted on github without a backend.</p>

        <p>An Angular breadcrumb service was downloaded from github: http://ianvonwalter.com
        </p>

        <p>Google maps was incorporated from a Udacity homework assignment.</p>
    </div>
</div>
